* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundimg{
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

body{
    font-family: 'Poppins', sans-serif;
}

.background{
    background-color: #d485687c;
}

.topimage{
    background-color: #292929f3;
    display: flex;
    justify-content: space-between;
}

.sushi{
    width: 25%;
    height: 180px;
    padding: 2px;
    border: solid #D48468; 
}

.mainindex{
    display: flex;
    height: 100vh;
}

.logo{
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.logo img{
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: solid white;
}

.logo h1{
    color: white;
    background-color: black;
    border: solid white;
    margin-top: 15px;
}

.botones{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 80px;
}

.menu{
    display: flex;
    border-bottom: double black;
    border-width: 15px;
    margin-right: 130px;
}

.navbarpages{
    background-color: #D48468;
}

.navbarpages a{
    color: white;
    font-size: 25px;
}

.botonesimg{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    opacity: 0.7;
    transition: all 1s ease;
}

.botonesimg:hover {
    opacity: 1;
}

.menu ul{
    padding-top: 40px;
    padding-left: 60px;
    text-align: left;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.815);
}

.catering{
    display: flex;
    justify-content: flex-end;
    margin-right: 130px;
    border-bottom: double black;
    border-width: 15px;
}

.catering ul{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.815);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}



.equipo{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 120px;
    background-color: gray;
}

.equipoimg{
    display: flex;
    margin-top: 70px;
    margin-right: 200px;
}

.equipoimg img{
    height: 140px;
    width: 140px;
    margin-right: 20px;
}

.equipoimg ul{
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.815);
    padding-top: 40px;
    padding-left: 60px;
    text-align: left;
    text-decoration: underline;
}

.visita{
    height: 350px;
    width: 350px;
    margin-top: 100px;
    margin-left: 25%;
}

.final{
    background-color: #D48468;
    margin-top: 30%;
    padding: 25px;
    font-size: 20px;
    display: flex;
}

.final2{
    background-color: #D48468;
    margin-top: 10%;
    padding: 25px;
    font-size: 20px;
    display: flex;
}


.direcc{
    margin-left: 50px;
}

.redes{
    display: flex;
    margin-left: 35%;
    height: 70px;
    width: 700px;
    justify-content: space-around;   
}

.redes img{
    height: 64px;
    width: 64px;
}

.mainmenu{
    display: inline;
}

.titulo{
    background-color: rgba(211, 211, 211, 0.521);
    margin-top: 170px;
    margin-bottom: 80px;
    border: solid rgb(255, 255, 255);
    border-width: 4px;
    padding: 10px;
}

.navmenu{
    background-color: #686868ee;
    display: flex;
    flex-direction: inline-block;
    margin-top: 40px;
    list-style: none;
    justify-content: space-around;
    margin-right: 30%;
    font-size: 30px;
    text-decoration-line: underline;
}

.navmenu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.4s ease;
}

.navmenu a:hover{
    color: #D48468;
}

.logo2{
    display: flex;
    justify-content: space-around;
}

.logo2 img{
    border-radius: 50%;
    height: 230px;
    width: 230px;
    margin-left: 90%;
    margin-top: 40px;
    border: solid white;
}

.textmenu{
    background-color: rgba(0, 0, 0, 0.452);
    font-size: 25px;
    margin: 50px 50px;
    line-height: 40px;
    text-decoration-line: underline;
    color: rgb(211, 211, 211);
}

.textmenu2{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.747);
    font-size: 25px;
    margin: 50px 50px;
    line-height: 40px;
    text-decoration-line: underline;
    color: rgb(211, 211, 211);
    grid-area: textmenu2;
}

.drinks{
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
}

.separador{
    width: 100%;
    background-color: rgba(211, 211, 211, 0.363);
    color: rgba(211, 211, 211, 0);
}

.imgsalon{
    display:grid;
    justify-content: space-around;
}

.imgsalon img{
    border: solid rgb(233, 233, 233);
    border-width: 10px;
    border-radius: 1.5%;
    margin: 15px;
    height: 400px;
    width: 800px;
}

.imgcarousel{
    border: 5px solid white;
    max-width: 1200px;
    margin-left: 20%;
    margin-bottom: 30px;
}

.formdatos{
    margin: 20px;
    text-align: center;
    width: 300px;
    height: 200px;
    color: white;
}

.formdatos input{
    text-align: center;
    margin: 1px;
    font-size: 16px;
    height: 45px;
    width: 300px;
}

.msj{
    margin: 20px;
    margin-bottom: 40px;
    margin-right: 56px;
    font-size: 18px;
    text-align: center;
    width: 300px;
    height: 200px;
}

.datos{
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: datos;
}

.textcontacto{
    text-align: center;
    color: white;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.452);
    margin: 30px;
    grid-area: textcontacto;
}

.textcontacto ul{
    list-style: none;
    font-size: 20px;
    margin: 60px;
}

/** GRID ULTIMO HTML (Contacto) */

.sectiongrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.4fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "textmenu2 textmenu2 textmenu2 textmenu2"
    "datos datos textcontacto textcontacto"; 
}

/** - - - - */ 

.datostext button{
    font-size: 18px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
}

.map{
    margin-top: 100px;
    margin-left: 35%;
    width: 32.6%;
    height: 470px;
}

/* RESPONSIVE SMARTPHONE 480px */

@media only screen and (max-width:480px) {
    .sushi{
        width: 480px;
        height: 100px;
        padding: 2px;
        border: solid #D48468; 
    }

    .topimage{
        background-color: #292929f3;
        display: flex;
        justify-content: space-between;
        width: 480px;
    }

    /* index only */

    .mainindex{
        display: flex;
        width: 480px;
    }
    
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
    }
    
    .logo img{
        border-radius: 50%;
        height: 80px;
        width: 80px;
        border: solid white;
    }
    
    .logo h1{
        color: white;
        background-color: black;
        border: solid white;
        margin-top: 15px;
        font-size: 12px;
        width: 110px;
    }
    
    .botones{
        display: flex;
        flex-direction: column;
        width: 55%;
        margin-top: 80px;
    }
    
    .menu{
        display: flex;
        border-bottom: double black;
        border-width: 15px;
        margin-right: 130px;
    }
    
    .botonesimg{
        height: 170px;
        width: 170px;
        border-radius: 50%;
        opacity: 0.7;
        transition: all 1s ease;
    }
    
    .botonesimg:hover {
        opacity: 1;
    }
    
    .menu ul{
        padding-top: 40px;
        padding-left: 60px;
        text-align: left;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.815);
    }
    
    .catering{
        display: flex;
        justify-content: flex-end;
        margin-right: 130px;
        border-bottom: double black;
        border-width: 15px;
    }
    
    .catering ul{
        font-size: 20px;
        color: rgba(255, 255, 255, 0.815);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 30px;
    }
    
    
    
    .equipo{
        text-align: center;
        color: white;
        font-size: 25px;
        margin-top: 120px;
        background-color: gray;
    }
    
    .equipoimg{
        display: flex;
        margin-top: 70px;
        margin-right: 200px;
    }
    
    .equipoimg img{
        height: 140px;
        width: 140px;
        margin-right: 20px;
    }
    
    .equipoimg ul{
        font-size: 18px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.815);
        padding-top: 40px;
        padding-left: 60px;
        text-align: left;
        text-decoration: underline;
    }
    
    .visita{
        height: 350px;
        width: 350px;
        margin-top: 100px;
        margin-left: 25%;
    }
    
    .final{
        background-color: #D48468;
        margin-top: 30%;
        padding: 25px;
        font-size: 20px;
        display: flex;
    }
    
    /* - - - - - */

    .navbarpages{
        background-color: #D48468;
        width: 480px;
    }
    
    .navbarpages a{
        color: white;
        font-size: 10px;
        margin-left: -40px;
    }

    .logo2{
        display: flex;
        justify-content: space-around;
        width: 480px;
    }
    
    .logo2 img{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-left: 0;
        margin-top: 40px;
        border: solid white;
    }

    .titulo{
        background-color: rgba(211, 211, 211, 0.521);
        margin-top: 60px;
        margin-bottom: 30px;
        border: solid rgb(255, 255, 255);
        border-width: 2px;
        font-size: 20px;
    }

    .textmenu{
        background-color: rgba(0, 0, 0, 0.452);
        font-size: 12px;
        margin: 50px 20px;
        line-height: 40px;
        text-decoration-line: underline;
        color: rgb(211, 211, 211);
        width: 480px;
    }

    .mainmenu{
        display: inline;
        width: 480px;
    }

    .navmenu{
        width: 480px;
        background-color: #686868ee;
        display: flex;
        flex-direction: inline-block;
        margin: 40px 30% 35px -45px;
        list-style: none;
        justify-content: space-around;
        font-size: 13px;
        text-decoration-line: underline;
    }

    .textmenu h2{
        font-size: 20px;
    }

    .final{
        background-color: #D48468;
        margin-top: 30%;
        padding: 10px;
        font-size: 20px;
        display: flex;
    }
    
    .final2{
        width: 480px;
        background-color: #D48468;
        margin-top: 2%;
        padding: 10px;
        font-size: 12px;
        display: flex;
    }

    .direcc{
        margin-left: 0px;
        text-align: center;
    }
    
    .direcc ul{
        margin-left: 0px;
        width: 150px;
    }
    
    .redes{
        display: flex;
        margin-left: 1%;
        height: 70px;
        width: 100%;
        justify-content: space-around;
        align-items: center;   
    }
    
    .redes img{
        height: 24px;
        width: 24px;
    }

    .separador{
        width: 480px;
        background-color: rgba(211, 211, 211, 0.363);
        color: rgba(211, 211, 211, 0);
    }
}

/* RESPONSIVE TABLET 768px */

@media only screen and (max-width:768px) {
    .sushi{
        width: 768px;
        height: 200px;
        padding: 2px;
        border: solid #D48468; 
    }

    .topimage{
        background-color: #292929f3;
        display: flex;
        justify-content: space-between;
        width: 768px;
    }
    
    .navbarpages{
        background-color: #D48468;
        width: 768px;
    }
    
    .navbarpages a{
        color: white;
        font-size: 18px;
        margin-left: -20px;
    }

        /* index only */

        .mainindex{
            display: flex;
            width: 768px;
        }
        
        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50px;
        }
        
        .logo img{
            border-radius: 50%;
            height: 80px;
            width: 80px;
            border: solid white;
        }
        
        .logo h1{
            color: white;
            background-color: black;
            border: solid white;
            margin-top: 15px;
            font-size: 12px;
            width: 110px;
        }
        
        .botones{
            display: flex;
            flex-direction: column;
            margin-top: 80px;
        }
        
        .menu{
            display: flex;
            border-bottom: double black;
            border-width: 15px;
            margin-right: 100px;
        }
        
        .botonesimg{
            height: 140px;
            width: 140px;
            border-radius: 50%;
            opacity: 0.7;
            transition: all 1s ease;
        }
        
        .botonesimg:hover {
            opacity: 1;
        }
        
        .menu ul{
            padding-top: 40px;
            padding-left: 60px;
            text-align: left;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.815);
        }
        
        .catering{
            display: flex;
            justify-content: flex-end;
            margin-right: 100px;
            border-bottom: double black;
            border-width: 15px;
        }
        
        .catering ul{
            font-size: 20px;
            color: rgba(255, 255, 255, 0.815);
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 30px;
        }
        
        
        
        .equipo{
            text-align: center;
            color: white;
            font-size: 25px;
            margin-top: 120px;
            background-color: gray;
        }
        
        .equipoimg{
            display: flex;
            margin-top: 70px;
            margin-right: 200px;
        }
        
        .equipoimg img{
            height: 140px;
            width: 140px;
            margin-right: 20px;
        }
        
        .equipoimg ul{
            font-size: 18px;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.815);
            padding-top: 40px;
            padding-left: 60px;
            text-align: left;
            text-decoration: underline;
        }
        
        .visita{
            height: 350px;
            width: 350px;
            margin-top: 100px;
            margin-left: 25%;
        }
        
        .final{
            background-color: #D48468;
            display: flex;
            width: 780px;
        }
        
        /* - - - - - */
    

    .logo2{
        display: flex;
        justify-content: space-around;
        width: 768px;
    }
    
    .logo2 img{
        border-radius: 50%;
        height: 130px;
        width: 130px;
        margin-left: 200px;
        margin-top: 40px;
        border: solid white;
    }

    .titulo{
        background-color: rgba(211, 211, 211, 0.521);
        margin-top: 60px;
        border: solid rgb(255, 255, 255);
        border-width: 2px;
        font-size: 25px;
    }

    .textmenu{
        background-color: rgba(0, 0, 0, 0.452);
        font-size: 15px;
        margin: 50px 20px;
        line-height: 40px;
        text-decoration-line: underline;
        color: rgb(211, 211, 211);
        width: 768px;
    }

    .mainmenu{
        display: inline;
        width: 768px;
    }

    .navmenu{
        width: 768px;
        background-color: #686868ee;
        display: flex;
        flex-direction: inline-block;
        margin: 40px 30% 35px -45px;
        list-style: none;
        justify-content: space-around;
        font-size: 20px;
        text-decoration-line: underline;
    }

    .textmenu h2{
        font-size: 20px;
    }

    
    .final2{
        width: 768px;
        background-color: #D48468;
        margin-top: 2%;
        padding: 10px;
        font-size: 12px;
        display: flex;
    }

    .direcc{
        text-align: center;
    }
    
    .direcc ul{
        width: 200px;
    }
    
    .redes{
        display: flex;
        margin-left: 1%;
        height: 50px;
        width: 100%;
        justify-content: space-around;
        align-items: center;   
    }
    
    .redes img{
        height: 34px;
        width: 34px;
    }

    .separador{
        width: 770px;
        background-color: rgba(211, 211, 211, 0.363);
        color: rgba(211, 211, 211, 0);
    }
}

/* RESPONSIVE Desktop 1440px */

@media only screen and (max-width:1440px) {
    .sushi{
        width: 25%;
        height: 100px;
        padding: 1px;
        border: solid #D48468; 
    }

    .topimage{
        background-color: #292929f3;
        display: flex;
        justify-content: space-between;
        width: 1440px;
    }
    
    .navbarpages{
        background-color: #D48468;
        width: 1440px;
    }
    
    .navbarpages a{
        color: white;
        font-size: 25px;
        margin-left: -20px;
    }

    /* index only */

    .mainindex{
        display: flex;
        width: 1440px;
    }
    
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 770px;
    }
    
    .logo img{
        border-radius: 50%;
        height: 140px;
        width: 140px;
        border: solid white;
    }
    
    .logo h1{
        color: white;
        background-color: black;
        border: solid white;
        margin-top: 20px;
        font-size: 15px;
        width: 133px;
    }
    
    .botones{
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-top: 80px;
    }
    
    .menu{
        display: flex;
        border-bottom: double black;
        border-width: 15px;
        margin-right: 130px;
        width: 600px;
    }
    
    .botonesimg{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        opacity: 0.7;
        transition: all 1s ease;
    }
    
    .botonesimg:hover {
        opacity: 1;
    }
    
    .menu ul{
        margin-left: 100px;
        text-align: left;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.815);
    }
    
    .catering{
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
        border-bottom: double black;
        border-width: 15px;
        width: 600px;
    }
    
    .catering ul{
        font-size: 13px;
        color: rgba(255, 255, 255, 0.815);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 200px;
    }
    
    
    
    .equipo{
        text-align: center;
        color: white;
        font-size: 15px;
        margin-top: 100px;
        background-color: gray;
    }
    
    .equipoimg{
        display: flex;
        margin-top: 40px;
        margin-right: 10px;
    }
    
    .equipoimg img{
        height: 100px;
        width: 100px;
        margin-right: 15px;
    }
    
    .equipoimg ul{
        font-size: 13px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.815);
        padding-top: 20px;
        padding-left: 20px;
        text-align: left;
        text-decoration: underline;
    }
    
    .visita{
        height: 240px;
        width: 240px;
        margin-top: 130px;
        margin-left: 20%;
    }
    
    .final{
        background-color: #D48468;
        margin-top: 30%;
        padding: 25px;
        display: flex;
        width: 1440px;
    }
    
    /* - - - - - */


    .logo2{
        display: flex;
        justify-content: space-around;
        width: 1440px;
    }
    
    .logo2 img{
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin-left: 200px;
        margin-top: 40px;
        border: solid white;
    }

    .titulo{
        background-color: rgba(211, 211, 211, 0.521);
        margin-top: 100px;
        border: solid rgb(255, 255, 255);
        border-width: 2px;
        font-size: 28px;
    }

    .textmenu{
        background-color: rgba(0, 0, 0, 0.452);
        font-size: 20px;
        margin: 50px 30px;
        line-height: 40px;
        text-decoration-line: underline;
        color: rgb(211, 211, 211);
        width: 1350px;
    }

    .mainmenu{
        display: inline;
        width: 1440px;
    }

    .navmenu{
        width: 1440px;
        background-color: #686868ee;
        display: flex;
        flex-direction: inline-block;
        margin: 40px 30% 35px -45px;
        list-style: none;
        justify-content: space-around;
        font-size: 25px;
        text-decoration-line: underline;
    }

    .textmenu h2{
        font-size: 25px;
    }

    .final{
        background-color: #D48468;
        margin-top: 450px;
        display: flex;
    }
    
    .final2{
        width: 1440px;
        background-color: #D48468;
        margin-top: 2%;
        padding: 10px;
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .direcc{
        margin-left: 0px;
        text-align: center;
    }
    
    .direcc ul{
        margin-left: 0px;
        width: 150px;
        font-size: 10px;
    }
    
    .redes{
        display: flex;
        margin-left: 1%;
        width: 100%;
        justify-content: space-evenly;
    }
    
    .redes img{
        height: 38px;
        width: 38px;
    }

    .separador{
        width: 1440px;
        background-color: rgba(211, 211, 211, 0.363);
        color: rgba(211, 211, 211, 0);
    }
}